html, body {
    font-family: sans-serif;
    margin: 0;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}


.sectionHeading {
    font-size: 1.6em;
    display: block;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4px;
    padding: 0;
    margin: 0;
}

.subContainerFull {
    flex: 0 0 calc(50% - 10px);
    background-color: #fff;
    color: #666;
    padding: 8px;
    text-align: center;
    border-radius: 6px;
    box-sizing: border-box;
}

._3of4 {
    flex: 0 0 calc(75% - 10px);
    background-color: red;
}

._1of4 {
    flex: 0 0 calc(25% - 10px);
    background-color: yellow;
}

.item {
    flex: 0 0 calc(12.5% - 10px); /* 33.33% width for each item with some spacing */
    background-color: #fff;
    color: #666;
    padding: 8px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    min-width: 90px;
}

.container .item label {
    font-size: 1em;
    display: block;
}

.container .item value {
    font-size: 1.6em;
    font-weight: 900;
    display: block;
}

.container .item small {
    display: block;
    font-size: 0.8em;
    font-weight: 900;
    padding-top: 8px;
}

.container .item bar {
    display: block;
    width: 100%;
    height: 10px;
    background-color: #59e;
    border-radius: 4px;
}

div {
    background-color: #ccc;
    padding: 10px;
}

div div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 9px;
}

div div div {
    background-color: #ddd;
    color: #333;
    padding: 20px;
    text-align: center;
    position: relative;
}

div div div:hover {
    background-color: #cf0;
}


@media (max-width: 900px) {
    .item {
        flex: 0 0 calc(25% - 10px);
    }
    .subContainerFull {
        flex: 0 0 calc(100%);
    }
}

@media (max-width: 1200px) {
    .subContainerFull {
        flex: 0 0 calc(100%);
    }

}
